<h1>Show</h1>



    <p>
      <b>Name:</b>
      <%= @emp.name %>
    </p>

    <p>
      <b>Age:</b>
      <%= @emp.age%>
    </p>

    <p>
      <b>Address:</b>
      <%= @emp.address%>
    </p>


body {background-image:url('bg.jpeg');}


<%= link_to 'back', emp_index_path %>